{extends file="page.tmpl"}
{block name="head" append}
<link rel="stylesheet" type="text/css" href="{$smarty.const.STATICSKINURL}/css/about.css" media="screen" />
{/block}
{block name="content"}
<div class="blurb about">
<div class="header"><h1>About Achilles</h1></div>
<div class="body">
<p>Achilles was first published as a website in August, 2014. The aim of the project is
to study the affects of consuming monosodium glutamate (MSG), especially
over the long term.</p>
<p>In September, 2014 I started a <a href="/timeline/">timeline page</a>.</p>
<p>Why the name Achilles for this project? "In Greek mythology, when <a
href="http://en.wikipedia.org/wiki/Achilles">Achilles</a> was a baby, it was
foretold that he would die young.  To prevent his death, his mother <a href="https://en.wikipedia.org/wiki/Thetis">Thetis</a>
took Achilles to the <a href="https://en.wikipedia.org/wiki/Styx">River
Styx</a>, which was supposed to offer powers of
invulnerability, and dipped his body into the water.  But as Thetis held
Achilles by the heel, his heel was not washed over by the water of the
magical river.  Achilles grew up to be a man of war who survived many great
battles.  But one day, a poisonous arrow shot at him was lodged in his heel,
killing him shortly there after." -- <a href="http://en.wikipedia.org/wiki/Achilles%27_heel">Achilles heel</a> on wikipedia</p>

</div> {* body *}
</div> {* blurb *}

<div class="blurb">
<div class="header"><h1>contributors</h1></div>

<div class="body">
<ul>
<li>michael b</li>
<li>family (mom, dad, sister)</li>
<li>randy</li>
<li>the ians</li>
<li>donna</li>
<li>G</li>
<li>ottis</li>
<li>chuck</li>
</ul>
</div> {* body *}
</div> {* blurb *}

{/block}
