<!DOCTYPE html> {*HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">*}
<html lang="en-us" id="html">
<head id="head" itemscope itemtype="https://schema.org/WebSite">
{block name="head"}
<!-- page.tmpl in empyre -->
<meta charset="utf-8">
<script src="https://kit.fontawesome.com/684c5b77b8.js" crossorigin="anonymous"></script>
{* <link rel="stylesheet" type="text/css" href="{$smarty.const.STATICSKINURL}css/animate.css" media="screen" *}
<link rel="stylesheet" type="text/css" href="/empyre/skin/css/blurb.css" {*{$smarty.const.STATICSKINURL}css/blurb.css"*} media="screen" >
<link rel="stylesheet" type="text/css" href="/empyre/skin/css/pageheader.css" media="screen" >
<link rel="stylesheet" type="text/css" href="{$smarty.const.STATICSKINURL}css/pagefooter.css" media="screen" >
<link rel="stylesheet" type="text/css" href="/empyre/skin/css/empyre.css" media="screen" >
<link rel="stylesheet" type="text/css" href="{$smarty.const.STATICSKINURL}css/breadcrumbs.css" media="screen" >
<link rel="stylesheet" type="text/css" href="{$smarty.const.STATICSKINURL}css/actions.css" media="screen" >
<link rel="stylesheet" type="text/css" href="{$smarty.const.STATICSKINURL}css/page.css" media="screen" >
<link rel="stylesheet" type="text/css" href="{$smarty.const.STATICSKINURL}css/poweredby.css" media="screen" >

<link rel="stylesheet" type="text/css" href="{$smarty.const.STATICSKINURL}css/lists.css" media="screen" >

<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script>var ENGINEURL="{$smarty.const.ENGINEURL}";</script>
<script src="/engine/js/bbsengine6.js"></script>

<script defer src="{$smarty.const.ENGINEURL}js/jquery.smoothState.js"></script>
<script defer src="{$smarty.const.ENGINEURL}js/initsmoothstate.js"></script>
<link rel="stylesheet" type="text/css" href="{$smarty.const.STATICSKINURL}css/topbar.css" media="screen" >

<script defer src="{$smarty.const.ENGINEURL}js/topbar.js" type="text/javascript"></script>

<title>empyre</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta name="description" content="project asimov: robotics, ai, and augmented reality" >

<meta property="og:type" content="website" >
{/block}
</head>
<body id="body" class="scene element fadeIn">
{include file="pageheader.tmpl"}

{include file="topbar.tmpl" data=$data|default:NULL}
{block name="content"}
<main>{block name="main"}<div class="blurb vstretch"><div class="body">NEEDINFO:main</div></div>{/block}</main>
{/block}
{include file="pagefooter.tmpl"}
</body>
</html>
