@import "vars";

$page-backgroundcolor: #e6ccb2;
$page-textcolor: #ede0d4;
$blurb-backgroundcolor: #344e41;
$blurb-header-backgroundcolor: #b08968;
$blurb-header-textcolor: #e6ccb2;
$blurb-border: 0.125em solid #3A5A40;
$pageheader-backgroundcolor: #b08968;
$body-fontsize: 1.125em;
