$page-backgroundcolor: #3a5a40;
$page-textcolor: #dad7cd; // lightest of the palette

$blurb-backgroundcolor: #344e41;
$blurb-textcolor: $page-textcolor;

$blurb-body-backgroundcolor: $page-backgroundcolor; // darken($page-backgroundcolor, 10%);
$blurb-body-textcolor: $page-textcolor;

$blurb-header-backgroundcolor: #a3b18a; //#006633; // $blurb-body-backgroundcolor;
$blurb-header-textcolor: #dad7cd;

$blurb-footer-backgroundcolor: $blurb-body-backgroundcolor;
$blurb-footer-color: $blurb-body-textcolor;

$blurb-metadata-color: $blurb-body-textcolor; // #909090
$blurb-metadata-backgroundcolor: $blurb-body-backgroundcolor;

// $blurb-border-gradient-start: lighten($blurb-body-backgroundcolor, 15%);
// $blurb-border-gradient-end: darken($blurb-body-backgroundcolor, 15%);

$page-anchor-color: $page-textcolor;
$page-anchor-backgroundcolor: $page-backgroundcolor;

// $page-anchor-hover-color: $page-color; // darken($page-color, 5%);
$page-anchor-hover-color: black;
$page-anchor-hover-backgroundcolor: $page-backgroundcolor; // darken($page-backgroundcolor, 10%);

$page-anchor-visited-color: darken($page-textcolor, 10%);
$page-anchor-visited-backgroundcolor: white;

$form-color: $blurb-body-textcolor;
$form-backgroundcolor: $blurb-body-backgroundcolor;
$form-errors-color: white;

$notify-backgroundcolor: $blurb-backgroundcolor;
$notify-color: $blurb-textcolor;
$notify-footer-backgroundcolor: #ababab;

//
// these are deprecated.. need to be renamed!
//
//$linkcolor: lightblue; // white;
//$linkhovercolor: darken($page-color, 5%);
//$linkhoverbackgroundcolor: darken($page-backgroundcolor, 10%);
//$linkvisitedcolor: darken($linkcolor, 10%);

$headerbackgroundstartcolor: #006633;
$headerbackgroundendcolor: darken($headerbackgroundstartcolor,2%);

$topbarheight: 1.8em;
$topbarlineheight: 1.8em;

$backgroundcolor: gray; // #006633, #25567B, #090974, #101010

$actions-color: lighten($blurb-header-backgroundcolor, 5%); // for icons

$blurb-a-hover-color: white;
$blurb-a-hover-backgroundcolor: gray;

/* 2020MAR24 */
$blurb-border-size: 0.125em;
$blurb-border-style: solid;
$blurb-border-color: #3A5A40;

$body-fontsize: 1.5em;

$pageheader-textcolor: $blurb-textcolor;
$pageheader-backgroundcolor: $blurb-backgroundcolor;
