@import "vars";
@import "mixins";

summary {
  border: $blurb-border-size $blurb-border-style $blurb-border-color;
  overflow: hidden;
  opacity: 0.90;

/*  border: 4px solid transparent; */
  outline: none;
  &:focus {
    border-color: black;
  }
  padding: 1rem;
  display: block;
  background: $blurb-header-backgroundcolor; 
  color: white;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
  h1 {
	margin: 0px;
        padding: 10px;
        @include textshadow(); // 4px, 3px, 3px, rgba(0,0,0,0.4)); // darken($backgroundcolor, 2%));
        @include backgroundgradient($blurb-header-backgroundcolor, darken($blurb-header-backgroundcolor, 2%));
        color: $blurb-header-textcolor;
        background-color: $blurb-header-backgroundcolor;
  }

}

details {
/*  max-width: 500px; */
  box-sizing: border-box;
  margin-top: 5px;
/*  background: white;*/
}

details summary::-webkit-details-marker {
  display:none;
}

details[open] > summary:before {
  transform: rotate(90deg);
}
summary:before {
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}

.content {
  border-top: none;
  padding: 10px;
  border: 2px solid #888;
  border-top: none;
}

p {
  margin: 0;
  padding-bottom: 10px;
  &:last-child {
    padding: 0;
  }
}

img {
  max-width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}
