@import "vars";
@import "mixins";

/* asimov.scss */

.highlight {
	background-color: yellow;
	color: gray;
	text-shadow: none;
}

body {
	background-color: $page-backgroundcolor;
	font-size: $body-fontsize; // 1.75em;
}
