@import "vars";           // Import variables (includes zoid6vars via _vars.scss)

/* empyre.scss */

.highlight {
	background-color: yellow;
	color: gray;
	text-shadow: none;
}

body {
	background-color: $page-backgroundcolor;
	font-size: $body-fontsize; // 1.75em;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1;
}
