@import "vars";           // Import variables (includes zoid6vars via _vars.scss)

/* asimov.scss */

.highlight {
	background-color: yellow;
	color: gray;
	text-shadow: none;
}

body {
	background-color: $page-backgroundcolor;
	font-size: $body-fontsize; // 1.75em;
}
