@import "vars";
@import "mixins";

// @see http://designshack.net/articles/css/12-fun-css-text-shadows-you-can-copy-and-paste/
// @see https://css-tricks.com/adding-stroke-to-web-text/
// @see https://www.smashingmagazine.com/2013/02/setting-weights-and-styles-at-font-face-declaration/
header#pageheader {
	border: 0;
	flex: 0 1 auto;
	// border: 1px solid black;
	background-color: $pageheader-backgroundcolor; // gray;
	overflow: hidden;
	font-family: pageheaderfont;
	// font-family: 'Roboto Condensed', sans-serif;
	font-size: large;
	text-align: center;
	.est2002 {
		font-family: estfont;
	}

	.body {
		-webkit-text-stroke-width: 0.125em;
		-webkit-text-stroke-color: black;
		color: $pageheader-textcolor; // blurb-header-backgroundcolor;
		// x, y, blur, color
		//  @include textshadow(4px, 3px, 3px, rgba(0,0,0,0.4));
		border: 0.125em solid $pageheader-textcolor; // blurb-border-color;
	}
	h1 {
		font-size: 2.5em;
	}
	h2 {
		font-size: 2.0em;
	}

	a {
		color: white;
	}
}

//@font-face {
//  font-family: pageheaderfont;
//   src: url("/skin/ttf/caesar.ttf");
//}

//@font-face {
//  font-family: pageheaderfont;
//   src: url("//zoidtechnologies.com/static/skin/ttf/High School USA Serif.ttf");
//}

@font-face {
	font-family: estfont;
	src: url("https://zoidtechnologies.com/static/skin/fonts/BFTinyHand-Regular.otf");
}

//@font-face {
//	font-family: pageheaderfont;
//}
